{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}PhotoStyler{% endblock %}</title>
		<link href="{% static "css/base.css" %}" rel="stylesheet">
		<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
		
	</head>
	<body>
		<div class="container">
			<div class="left-header">
				<div class="left-logo">
					<div><img src="{% static 'images/handy-icon.ico' %}"></div>
					<div>Photo<span>Styler</span></div>
					
				</div>
			</div>
			<div class="header-main">
				<span class="header-main-top">
					{% if request.user.is_authenticated %}
						<li><a href="{% url "logout" %}">Sign out</a></li>
					{% else %}
						<li><a href="{% url "login" %}">Sign in</a></li>
					{% endif %}
				</span>
				<div class="header-main-icons">
					<a href="#" class="icon-item bp-icon" onclick="goBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
					<a href="{% url 'uploader' %}" class="icon-item bp-icon"><i class="fa fa-upload" aria-hidden="true"></i></a>
					<a href="{% url 'gallery' %}" class="icon-item bp-icon"><i class="fa fa-image" aria-hidden="true"></i></a>
				</div>
			</div>
			<nav id="ml-menu" class="menu">
				<div class="menu-wrap">
					<ul class="menu-level">
						<li class="menu-item"><a class="menu-link" href="{% url 'uploader' %}">Upload</a></li>
						<li class="menu-item"><a class="menu-link" href="{% url 'gallery' %}">My Photos</a></li>
					</ul>
				</div>
			</nav>
			<div class="content">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/
		jquery.min.js"></script>
		<script>
		$(document).ready(function() {
		{% block domready %}
		{% endblock %}
		});
		</script>
		<script>
			function goBack() {
			window.history.back();
			}
		</script>
	</body>
</html>